/*stylesheet*/

/*vars*/
:root {
	--background-color:  #fff;
	--body-color: #000;
}

body {
	margin: 0;
	color:  var(--body-color);
	background: var(--background-color);
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.text-holder {
	height: 100vh;
}

.text-holder  {
  display: flex;
  align-items: center;
  height: 100vh;
}